* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #cbd5e1;
  font-family: "Roboto", sans-serif;
}

/* CONTAINER  */
.container {
  display: grid;
  grid-template-columns: 200px 3fr;
  grid-template-rows: minmax(100vh, 1fr);
}

/* ASIDE  */
.aside {
  background-color: #0ea5e9;
}
.title {
  display: grid;
  grid-template-columns: 1fr 5fr;
  color: #fff;
  padding: 20px 10px;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  gap: 10px;
}

.navigation,
.setup {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 5px;
  color: #fff;
  /* color: whitesmoke; */
  padding: 10px 10px 10px 20px;
  margin-top: 20px;
  align-items: center;
  transition: all 0.8s ease-in;
}
.title p:hover,
.navigation p:hover,
.setup p:hover {
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 2px 2px grey;
  cursor: pointer;
}

/* MAIN */
.main {
  display: grid;
  grid-template-rows: 170px 1fr;
}

.nav {
  background-color: whitesmoke;
  box-shadow: 0 1px 10px grey;
  display: grid;
  grid-template-columns: 20px repeat(10, 1fr) 20px;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 20px;
  align-items: center;
  gap: 10px;
}

.search {
  grid-column: span 7;
  border-radius: 20px;
  border: none;
  background-color: #cbd5e1;
  height: 24px;
}
.bell__icon {
  grid-column: 9;
  align-self: center;
  justify-self: end;
}
.medium__pic {
  border-radius: 50%;
  width: 40px;
  justify-self: center;
  align-self: center;
}
.user_name {
  grid-column: span 2;
  align-self: center;
  justify-self: start;
  font-size: 20px;
  font-weight: bold;
}
.big__pic {
  border-radius: 10%;
  width: 90px;
  height: 60px;
  grid-column: span 2;
  grid-row: span 2;
  justify-self: center;
}
.greeting {
  grid-column: span 5;
  align-self: end;
  font-size: 16px;
  font-weight: bold;
}
.user_name_ {
  grid-row: 3;
  grid-column: 3/9;
  align-self: start;
  font-size: 20px;
  font-weight: bold;
}
button {
  border: none;
  background-color: #0ea5e9;
  border-radius: 20px;
  height: 30px;
  color: #fff;
  min-width: 50px;
}
.new {
  grid-column: 9;
}
.upload,
.share,
.new {
  grid-row: span 2;
  align-self: center;
}
button:hover {
  box-shadow: 0 1px 5px grey;
}
button:active {
  background-color: #0284c7;
  color: #fff;
}
/* SECTION  */
.section {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(15, 1fr);
  gap: 10px;
}
.section p {
  font-size: 13px;
  color: grey;
}
.your_project {
  grid-column: span 5;
}
.announcements {
  grid-column: 9 / -1;
  grid-row: 1;
  font-weight: bold;
}
.card {
  background-color: whitesmoke;
  border-left: 3px solid gold;
  border-radius: 10px;
  padding: 10px;
}

.card-one {
  grid-column: 1/5;
  grid-row: 2/5;
}
.card-two {
  grid-column: 5/9;
  grid-row: 2/5;
}
.card-three {
  grid-row: 5/8;
  grid-column: 1/5;
}
.card-four {
  grid-row: 5/8;
  grid-column: 5/9;
}
.card-five {
  grid-row: 8/11;
  grid-column: 1/5;
}
.card-six {
  grid-row: 8/11;
  grid-column: 5/9;
}
/* Announcements */
.announcements_card {
  padding: 10px;
  border-radius: 10px;
  grid-row: 2/7;
  grid-column: 9/20;
  background-color: whitesmoke;
}
hr {
  margin: 14px 0;
}
.your_project,
.announcements,
.trending {
  align-self: center;
}
/* trending  */
.trending {
  font-weight: bold;
  margin-bottom: 10px;
  grid-row: 7;
  grid-column: 9/20;
}
.trending_container {
  grid-column: 9/20;
  grid-row: 8/13;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 50px 50px 50px;
}
.trending_card {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: 20px 20px;
}
.trending_card img {
  width: 60px;
  border-radius: 10%;
}
.name {
  align-self: end;
  font-weight: bold;
}
#name {
  color: #000;
}
.imgs {
  grid-row: span 2;
  align-self: center;
}
